{% extends "layouts/base.html" %}

{% block title %} Cost Codes {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/loader.css">
    <link href="/static/assets/css/simple-data-tables.css" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card CostCodes">
                        <div class="card-header">
                            <h5>Cost Codes</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="card-block">
                                <div class="row">
                                    <label for="fromdate"
                                           class="pr-0 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-info">From
                                        Date</label>
                                    <input type="date" name="fromDate"
                                           class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" value="fromdate">

                                    <label for="todate"
                                           class="pr-0 ml-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-info">To
                                        Date</label>
                                    <input type="date" name="toDate"
                                           class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" value="todate">
                                </div>
                            </div>
                        </div>
                        <div class="py-0 card-header">
                            <h5>CostCodes Sync Log</h5>
                            <div class="float-right search-box">
                                <button class="btn btn-primary" id="sync-codes" type="button" onclick="syncCostCodes()">
                                    Sync CostCodes
                                </button>
                            </div>
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <div id="loader"></div>
                                <table class="table table-bordered table-striped table-condensed" id="tblList">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Sync Date</th>
                                        <th>Sync Time</th>
                                        <th>ProCore Proj ID</th>
                                        <th>ProCore CostCode ID</th>
                                        <th>ProCore CostCode</th>
                                        <th>QuickBook CostCode</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if costcodes %}
                                        {% for costcode in costcodes %}
                                            <tr>
                                                <td>{{ costcode.sync_date_time|date:"d/m/Y" }}</td>
                                                <td>{{ costcode.sync_date_time|time:"h:i:A" }}</td>
                                                <td>{{ costcode.biller_id }}</td>
                                                <td>{{ costcode.costcode_id }}</td>
                                                <td>{{ costcode.name }}</td>
                                                <td>{{ costcode.qbo_cost_code_id }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/plugins/simple-data-tables/simple-data-tables.js" type="text/javascript"></script>
    <script>
        const dataTable = new simpleDatatables.DataTable("#tblList", {
            fixedHeight: true,
        })

        function syncCostCodes() {
            document.getElementById("sync-codes").className += ' disabled';
            document.getElementById("loader").style.display = 'block';
            $.get("/app/sync-cost-codes/", function (data) {
                if (data.error) {
                    console.log("here error occurred...", data.error)
                }
                if (data.response === true) {
                    location.reload();
                }
            })
        }
    </script>
{% endblock javascripts %}