<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank"
               href="" class="b-brand">
                <!-- <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div> -->
                <img src="/static/assets/images/pc-qb.png" alt="PC-QB" width="42" height="45">
                <span class="b-title">PC to QB</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <!-- <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li> -->
                <!-- <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/dashboard" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li> -->
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/setting" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-settings"></i></span><span class="pcoded-mtext">Setting</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/appsetting" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-aperture"></i></span><span class="pcoded-mtext">App Setting</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/sync-setting" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-refresh-cw"></i></span><span
                            class="pcoded-mtext">Sync Setting</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/customers" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-users"></i></span><span
                            class="pcoded-mtext">Project/Customers</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/vendors" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-user"></i></span><span class="pcoded-mtext">Vendors</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/costcodes" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-credit-card"></i></span><span class="pcoded-mtext">Cost Codes</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/custInv" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-check-circle"></i></span><span class="pcoded-mtext">Customer Invoices</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/subInv" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-check-square"></i></span><span class="pcoded-mtext">Subcontractor Invoices</span></a>
                </li>
                <!-- <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/custPay" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-user"></i></span><span class="pcoded-mtext">Customer Payments</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/subPay" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-users"></i></span><span class="pcoded-mtext">Subcontractor Payments</span></a>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/expenses" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-trending-up"></i></span><span class="pcoded-mtext">Expenses</span></a>
                </li> -->
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/app/synclog" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span class="pcoded-mtext">Sync Log</span></a>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="/app/logout/" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
