#dropbtn {
    background-color: #04a9f5;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 242px;
    height: 42px;
    padding: 10px;
  }
  
  option {
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    font-size: 15px;
  }