table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    color: #fff;
    background-color: #37474f;
    border-color: #222c31;
}

table, tr, th, td {
    border: 1px solid #eaeaea;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid #d9d9d9;
}

tr:nth-child(even) {
    background-color: #f2fbfe;
}

th, td {
    padding: 8px 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 90px;
    height: 90px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}